
/* カーソル */
body{
  position: relative;
  cursor: none;  /*もともとあるカーソルは見えなくなるようにする*/
}

#cursor{
  position: fixed;
  /*丸の大きさと色の指定*/
  background: rgb(169, 169, 169);
  border-radius:20px;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;/*真ん中にくるようにマイナスマージンで調整*/
  z-index: 100;/*一番手前に来るように*/
  pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0.5;
}

#cursor.active {
    transform: scale(1.5);
    background-color: #a7c7d9;
}


/* navの顔 */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.icon {
    width: 80px;
    border: 1px solid #a7c7d9;
    border-radius: 50%;
    background-color: #ffffff;
}

.img {
    width: 100%;
}

.flex, .flex-top {
    display: flex;
}

.nav {
    width: 30%;
    list-style-type: none;
    margin-left: auto;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

a:visited {
    color: #282828;
}

a li {
    background: transparent;
    color: #272727;
    padding: 5px 0;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    

    transition: 0.3s;
}

a li:hover {
    color: #ffffff;
}

a li::before {
    content: "";
    background: #a7c7d9;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    transition: 0.5s;
}

a li:hover::before {
    width: 100%;
}


/* ハンバーガーメニュー */

/* top */

section, main {
    padding: 50px 0;
}
.box1 {
    height: 500px;
}

h1, h2, h3, p, li {
    font-weight: 350px;
    color: #282828;
}

h2 {
    margin: 50px 0;
}

h3 {
    margin-bottom: 0;
}

.mg0 {
    margin-top: 0;
}

h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.port {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.slick-img {
    width: 300px;
    height: auto;
}


.slick-img{
    margin: 0 auto;    /*slickを読み込んだ時に、自動でslick-slideというクラスをもち、display: block;がかけられているから、img自体にmargin: 0 auto;かけた。*/
}

.opacity {
    opacity: 0.5;
}

.relative {
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
}

.arrow {
    position: absolute;
    color: #282828;
    font-size: 30px;
    z-index: 3;
    left: 35px;
}

.top-bear {
    width: 100px;
    z-index: 1;
    position: absolute;
    top: -50px;
    left: -30px;
    transition: 1s;
}

.top-bear1 {
    width: 100px;
    z-index: 1;
    position: absolute;
    top: -5px;
    left: -5px;
}

.top-return {
    width: 10%;
    position: fixed;
    right: 0;
    z-index: 10;
} 

/* about */
.line {
    height: 1px;
    width: 100px;
    background-color: #a7c7d9;
    display: inline-block;
    margin: 0 20px;
}

.title {
    align-items: center;
    gap: 3%;
}

.fish {
    width: 170px;
    position: absolute;
    left: 570px;
    top: 380px;
}

.border {
    border: 1px solid #a7d7c9;
    border-radius: 100px 100px 30px 30px;
}

.ft18 {
    font-size: 18px;
}

.pd20 {
    padding: 50px;
}

.wd27 {
    width: 27%;
}


/* プロフィール写真 */
.paris {
    width: 40%;
}

.my-img {
    border-radius: 50%;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.wd80 {
    width: 80%;
    margin: 0 auto;
}

.ft20 {
    font-size: 20px;
}

.left, .left-skill {
    text-align: left;
}

.around {
    justify-content: space-around;
}


/* skills */
.unit {
    width: 40%;
    margin: 20px;
}

.wrap {
    flex-wrap: wrap;
}

.underline {
    border-bottom:  1px solid #a7d7c9;
}

/* works */
.works-line {
    height: 1px;
    width: 100%;
    background-color: #a7c7d9;
    display: block;
}

.wd30 {
    width: 30%;
}

.gap {
    justify-content: center;
    gap: 50px;
}

.shadow {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12)
}

.banner img {
    border-radius: 30px;
}


.blue{
    background: transparent;
    color: #272727;
    padding: 5px 15px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    

    transition: 0.3s;
}

/* .blue::beforeには文字は含まれていないから文字は別で色変わる指定しなければならない */
.blue:hover {
    color: #ffffff;
}

.blue::before {
    content: "";
    background: #a7c7d9;
    position: absolute;
    top: 0;     /*border-radiusをちゃんと効かせるため*/
    left: 0;    /*border-radiusをちゃんと効かせるため*/
    width: 0%;   /*最初は横幅閉じておいて↓の.blue:hover::beforeでhoverしたときに色が広がってくようにする*/
    height: 100%;
    border-radius: 30px;
    z-index: -1;   /*通常の.blueの文字を前にもってくるために::は後ろにもっていく*/
    transition: 0.5s;
}

.blue:hover::before {
    width: 100%;
}

.fit-con {
    width: fit-content;
    margin: 0 auto;
}

.circle2 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.arrow2 {
    position: absolute;
    color: #282828;
    font-size: 30px;
    z-index: 3;
    left: 35px;
}

.jc, .jc-more {
    justify-content: center;
}


/* サイトを見る */

.url{
    background: transparent;
    color: #272727;
    padding: 5px 15px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    

    transition: 0.3s;
}

.url::before {
    content: "";
    background: #a7c7d9;
    position: absolute;
    top: 0;     /*border-radiusをちゃんと効かせるため*/
    left: 0;    /*border-radiusをちゃんと効かせるため*/
    width: 0%;   /*最初は横幅閉じておいて↓の.blue:hover::beforeでhoverしたときに色が広がってくようにする*/
    height: 100%;
    border-radius: 30px;
    z-index: -1;   /*通常の.blueの文字を前にもってくるために::は後ろにもっていく*/
    transition: 0.5s;
}

.url:hover {
    color: #ffffff;
}

.url:hover::before {
    width: 100%;
}

.url {
    color: #272727;
}


/* 寝ているクマ */
.sleep {
    position: absolute;
    width: 20%;
    top: 180px;
    right: 50px;
}

.none {
    display: none;
}


/* contact */
.contact {
    background-image: url(imgs/sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 40% 40% 0 0;
    padding-top: 200px;
}

.thanks {
    width: 200px;
}

.between {
    justify-content: space-between;
}

.wd33 {
    width: 33%;
}

.color6 {
    color: #666666;
}

/* メアド */
/* .mail {
    background-color: #ffffff;
    border-radius: 70px;
    padding: 0px 60px;
    width: 40%;
    margin: 0 auto;
} */

.btn {
    border-radius: 70px;
    background: #fcfcfc;
    box-shadow:  20px 20px 60px #d6d6d6,
                -20px -20px 60px #ffffff;
    padding: 0px 60px;
    width: 40%;
    margin: 0 auto;
}

.btn:active {
    box-shadow:  5px 5px 15px #d6d6d6,
                -5px -5px 15px #ffffff;
}

.arrow-contact {
    color: #a7c7d9;
    font-size: 35px;
    margin-left: auto;
}

/* お問い合わせフォーム */
.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.modal-content{
    width: 50%;
    margin: 100px auto;
    background: #fff;
    padding: 30px;
    border-radius: 20px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}

/* footer */
.wd150 {
    width: 150px;
}

.ft20 {
    font-size: 20px;
}

.ft24 {
    font-size: 24px;
}

.center {
    text-align: center;
}

.mail p {
    width: fit-content;
}

.absolute {
    position: absolute;
    top: 50px;
    left: 50px;
}

footer p {
    margin-left: auto;
}

.tate {
    align-items: center;
}

.absolute-footer {
    position: absolute;
    top: -60px;
    left: 150px;
    width: 150px;
}

.absolute-sns {
    position: absolute;
    top: -50px;
}

.fukidashi {
    padding: 0px 10px;
    width: 150px;
}


.about, .skills, .works, .contact {
    transition: 2s;
}


/* media */
@media screen and (max-width: 768px) {
    .none {
        display: block;
    }

    .phone-none {
        display: none;
    }

    .medis-wrap, .unit {
        flex-wrap: wrap;
        width: 90%;
    }

    .wd27, .phone-wd80 {
        width: 80%;
    }

    .phone-wd20 {
        width: 20%;
    }

    .phone-position {
        position: absolute;
        top: 350px;
        left: 330px;
    } 

    .phone-img {
        width: 100px;
    }

    h1 {
        font-size: 24px;
    }

    .top-return {
        margin-left: auto;
    }

    /* #cursor {
        display: none;
    } */
}

@media screen and (max-width: 390px) {
    .ft20 {
        font-size: 18px;
    
    }

    .flex {
        justify-content: center;
    }

    h1 {
        font-size: 18px;
    }
    
    .slick-img {
        width: 280px;
    }

    .port {
        top: 65%;
    }

    .icon {
        width: 60px;
    }
    
    .drawer-nav {
        width: 8rem;
    }

    .top-return {
        right: 20px;
    }

    .circle {
        width: 60px;
    }

    .arrow {
        left: 15px;
    }

    .top-bear {
        top: -14px;
        left: -21px;
        width: 66px;;
    }

    .top-bear1 {
        width: 66px;
        top: 13px;
        left: -5px;
    }

    .phone-position {
        top: 500px;
        left: 245px;
    }

    .thanks {
        width: 150px;
    }
    
    .absolute-sns {
        width: 100px;
        top: -52px;
        left: -10px;
    }

    .phone-img {
        width: 86px;
    }

    .wd150 {
        width: 70px;
    }

    .absolute-footer {
        top: -29px;
        left: 89px;
    }

    footer p {
        font-size: 10px;
    }
}